*.tex
*.ilg
*.ind
*.lof
*.lot
*.aux
*.log
*.out
*.nav
*.toc
*.tex.bak
*.snm
*.synctex.gz
*.bbl
*.blg
*.brf
*.idx
*.html
*~
.#*
#*
*.dvi
*ps
.Rhistory
.Rproj.user
**/cache/*
**/figures/*

*.pdf
!00-projeto.pdf
!01-tcc.pdf
